<cruisecontrol>
    <project name="UnifiedBusinessModeling">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
        	<svnbootstrapper
        		localWorkingCopy="c:/Integration/UnifiedEnterpriseDevelopmentAndOperation/UnifiedBusinessModeling"/>
        </bootstrappers>

        <modificationset quietperiod="30">
        	<svn
        		localWorkingCopy="c:/Integration/UnifiedEnterpriseDevelopmentAndOperation/UnifiedBusinessModeling"/>
        </modificationset>

        <schedule interval="300">
            <ant anthome="apache-ant-1.7.0" buildfile="${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="${project.name}/logs"/>
        </log>

        <publishers>
            <onsuccess>
            </onsuccess>
            <onfailure>
            </onfailure>
        </publishers>

    </project>
</cruisecontrol>
