<cruisecontrol>
    <project name="UnifiedBusinessModeling">

        <listeners>
            <currentbuildstatuslistener file="${project.name}/logs/status.txt"/>
        </listeners>

        <bootstrappers>
        	<svnbootstrapper
        		localWorkingCopy="c:/Integration/UnifiedEnterpriseDevelopmentAndOperation/${project.name}"/>
        </bootstrappers>

        <modificationset quietperiod="30">
        	<svn
        		localWorkingCopy="c:/Integration/UnifiedEnterpriseDevelopmentAndOperation/${project.name}"/>
        </modificationset>

        <schedule interval="60">
            <ant 
            	antscript="c:/Tools/Ant/1.8.1/bin/ant.bat" 
            	buildfile="${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="${project.name}/logs"/>
        </log>

        <publishers>
        	<htmlemail
        		returnaddress="johnliebenau@gmail.com">
        		<map alias="JohnLiebenau" address="johnliebenau@gmail.com"/>
        	</htmlemail>
       	</publishers>

    </project>
</cruisecontrol>
